@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(material) {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    min-width: 400px;

    @include e(menu) {
        flex: 0.2;
        align-items: center;
        div{
            height: 16.6666%;
            padding: 0 10px;
            align-items: center;
            display: flex;
            cursor: pointer;
            p{
                margin: 0;
                width: 100%;
                text-align: center;
                cursor: pointer;
            }
            &.active{
                border: 1px solid $primary;
                border-color: $primary transparent $primary $primary;
                position: relative;
                left: 1px;
                background: $dark;
            }
        }
    }

    @include e(content) {
        flex: 0.8;
        border: 1px solid $primary;
    }

}
