@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(material) {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;

    @include e(switch) {
        flex: 0.2;
        align-items: center;
        border-right: 1px solid black;
        div{
            padding: 0 10px;
            border-bottom: 1px solid black;
            p{
                margin: 0;
                line-height: 40px;
                text-align: right;
                cursor: pointer;
            }
        }
    }

    @include e(content) {
        flex: 0.8;
    }

}
