@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(main-container) {
    width: 100%;
    height: 100%;
    position: relative;

    @include e(top) {
        height: 650px;
        display: flex;
        justify-content: flex-start;
    }

    @include e(material) {
        flex: 0.4;
        border-right: 4px solid black;
    }
    @include e(preview) {
        flex: 0.6;
    }

    @include e(bottom) {
        border-top: 4px solid black;
    }

}
