.myaccount-account-menu{
    .header{
        background: url('../../../assets/images/lightmvPersonBg.png') top center no-repeat;
        height: 232px;
        background-size: cover;
        background-position: 0 -26px;
        padding-top: 32px;
        .avatar-container{
            width: 64px;
            height: 64px;
            position: relative;
            margin: 0 auto;
            img{
                width: 64px;
                height: 64px;
                border-radius: 32px;
                border: 3px solid rgba(255, 255, 255, 0.5);
            }
            .default-avatar{
                width: 64px;
                height: 64px;
                border-radius: 32px;
                margin: 0 auto;
                background: url('../../../icons/default-portrait.svg') center no-repeat;
                background-size: contain;
            }
            .crown{
                width: 26px;
                height: 24px;
                background: url('../../../icons/crownWhite.svg') center no-repeat;
                position: absolute;
                top: -12px;
                left: 52px;
            }
        }

        .nickname{
            color: white;
            font-size: 17px;
        }
        .vip{
            color: #6B5600;
            font-size: 14px;
            line-height:20px;
            display: flex;
            justify-content:center;
            span{
                padding-left: 27px;
                background: url('../../../assets/lightmv-icons/vipIcon.png') left center no-repeat;
                background-size: contain;
            }
        }
        .privileges{
            color: #F0C267;
            font-size: 14px;
            line-height: 76px;
            height: 76px;
            text-align: center;
            margin: 0 16px;
            background: url('../../../assets/images/vipAdBg.png') center no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
    .mobile-list-items{
        .mobile-list-items__item{
            padding-left: 49px;
            >span{
                display: block;
                width: 20px;
                height: 100%;
                float: right;
                padding-right: 16px;
                background: url('../../../icons/listGrayArrow.svg') center no-repeat;
            }
            &.info{
                background: url('../../../assets/images/menu-icons/info.svg') 18px center no-repeat;
            }
            &.token{
                background: url('../../../assets/images/menu-icons/token.svg') 18px center no-repeat;
            }
            &.account{
                background: url('../../../assets/images/menu-icons/account.svg') 18px center no-repeat;
            }
            &.invoice{
                background: url('../../../assets/images/menu-icons/invoice.svg') 18px center no-repeat;
            }
            &.ticket{
                background: url('../../../assets/images/menu-icons/ticket.svg') 18px center no-repeat;
            }
            &.password{
                background: url('../../../assets/images/menu-icons/password.svg') 18px center no-repeat;
            }
            &.setting{
                background: url('../../../assets/images/menu-icons/setting.svg') 18px center no-repeat;
            }
        }
    }
}
