.myaccount-account-menu{
    .header{
        background: url('../../../assets/images/personBg.png') top center no-repeat;
        height: 232px;
        background-size: cover;
        background-position: 0 -26px;
        padding-top: 32px;
        .avatar-container{
            width: 64px;
            height: 64px;
            position: relative;
            margin: 0 auto;
            img{
                width: 64px;
                height: 64px;
                border-radius: 32px;
                border: 3px solid rgba(255, 255, 255, 0.5);
            }
            .default-avatar{
                width: 64px;
                height: 64px;
                border-radius: 32px;
                margin: 0 auto;
                background: url('../../../icons/default-portrait.svg') center no-repeat;
                background-size: contain;
            }
            .crown{
                width: 26px;
                height: 24px;
                background: url('../../../icons/crownWhite.svg') center no-repeat;
                position: absolute;
                top: -12px;
                left: 52px;
            }
        }

        .nickname{
            color: white;
            font-size: 17px;
        }
        .privileges{
            color: #F0C267;
            font-size: 17px;
            line-height: 76px;
            height: 76px;
            text-align: center;
            margin: 0 16px;
            background: url('../../../assets/images/vipAdBg.png') center no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
    .mobile-list-items{
        .mobile-list-items__item{
            padding-left: 49px;
            >span{
                display: block;
                width: 20px;
                height: 100%;
                float: right;
                padding-right: 16px;
                background: url('../../../icons/listGrayArrow.svg') center no-repeat;
            }
            &.item-1{
                background: url('../../../icons/person.svg') 21px center no-repeat;
            }
            &.item-2{
                background: url('../../../icons/order.svg') 21px center no-repeat;
            }
            &.item-3{
                background: url('../../../icons/workList.svg') 21px center no-repeat;
            }
            &.item-4{
                background: url('../../../icons/password.svg') 21px center no-repeat;
            }
            &.item-5{
                background: url('../../../icons/setting.svg') 21px center no-repeat;
            }
        }
    }
}
