.myaccount-info{
    .avatar-container{
        height: 128px;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        .default-avatar{
            width: 64px;
            height: 64px;
            border-radius: 32px;
            margin: 0 auto;
            padding-top: 32px;
            background: url('../../../icons/default-portrait.svg') center no-repeat;
            background-size: contain;
        }
    }
    .list{
        p{
            height: 60px;
            margin: 0;
            border-bottom: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            >span{
                font-size: 17px;
                color: #333;
                &:first-child{
                    color: #666;
                }
            }
        }
    }
}
