@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(connection) {
    width: 389px;
    height: 415px;
    position: fixed;
    left: 0;
    right: 0;
    top: calc(50% - 210px);
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35);
    padding: 9px 15px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    @include e(tabs) {

        @include e(tab) {

        }
    }
}
