// mixins
@import "../../mixins/bem.scss";
@import "../../mixins/clearfix.scss";
@import "../../mixins/float.scss";
@import "../../mixins/ellipsis.scss";

//variables
@import "variables.scss";

//common
@import "common.scss";

// components
@import "mobileHeader.scss";

// pages

@include b(home) {
    .clearfix{
        clear: both;
    }

    @include e(content) {
        background-color: #f3f3f3;
        padding-top: .2rem;
    }

    @include e(user-info) {
        padding-left: .3rem;
        padding-top: .2rem;
        background-color: white;
    }

    @include e(avatar) {
        width: 1.1rem;
        height: 1.1rem;
        float: left;
        border-radius: 50%;
        position: relative;
        .default-avatar{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: url('../../../icons/default-portrait.svg') center no-repeat;
            background-size: contain;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%; 
        }
        .crown{
            position: absolute;
            bottom: 0;
            right: 0;
            width: .4rem;
            height: .4rem;
            background: url('../../../icons/not-vip.png') center no-repeat;
            background-size: contain;
            &.active{
                background-image: url('../../../icons/vip.png');
            }
        }
    }
    
    @include e(account) {
        float: left;
        padding-left: .3rem;
        .account-name{
            font-size: .3rem;
            font-weight: bold;
            margin: .15rem auto .15rem;
            text-align: left;
        }
        .device-info, .expire{
            margin: 0;
            font-size: .2rem;
            text-align: left;
        }
    }

    @include e(prices) {
        background: white;
        display: flex;
        justify-content: space-between;
        padding: .4rem 4%;
        .price {
            width: 30%;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            position: relative;
            .p1{
                font-size: .2rem;
                font-weight: bold;
                margin: .22rem 0 .2rem;
            }
            .p2{
                font-size: .23rem;
                color: #e6bb25;
                margin: 0 0 .2rem;
                span{
                    font-size: .18rem;
                    padding-right: .08rem;
                }
            }
            .p3{
                font-size: .18rem;
                margin: 0 0 .14rem;
                color: black;
            }
            .p4{
                padding: 0 .2rem;
                height: .5rem;
                line-height: .5rem;
                font-size: .25rem;
                border-radius: .25rem;
                background-color: #e6bb25;
                color: black;
                margin: 0 auto .2rem;
                cursor: pointer;
                letter-spacing: -1px;
                display: inline-block;
            }
            .recommended{
                background-color: #ff6771;
                position: absolute;
                top: -.08rem;
                right: -1px;
                line-height: .16rem;
                height: .16rem;
                font-size: .16rem;
                color: white;
                padding: .08rem .14rem;
                margin: 0;
                border-bottom-left-radius: .08rem;
                border-top-right-radius: .08rem;
            }
            &.active{
                border: 2px solid #e6ba24;
                transform: scale(1.1);
                .recommended{
                    right: -2px;
                }
            }
        }
    }

    @include e(buy-btn) {
        background-color: white;
        padding-top: .1rem;
        span{
            display: block;
            width: 90%;
            height: .7rem;
            margin: 0 5%;
            border-radius: .35rem;
            line-height: .7rem;
            color: black;
            background: #f0ca70;
            cursor: pointer;
            font-size: .4rem;
            text-decoration: none;
        }
        p{
            font-size: .22rem;
            padding: .22rem 0;
            margin: 0;
        }
    }

    @include e(privilege) {
        margin-top: .22rem;
        background-color: white;
        padding: 0 4%;
        h2{
            font-size: .3rem;
            margin: 0;
            padding: .22rem 0 .20rem;
        }
        >div{
            width: 30%;
            float: left;
            margin: 0 1.5%;
            padding-top: .8rem;
            min-height: 100px;
            background-position: top center;
            background-repeat: no-repeat;
            &.p1{
                background-image: url('../../../icons/privilege/p1.png');
            }
            &.p2{
                background-image: url('../../../icons/privilege/p2.png');
            }
            &.p3{
                background-image: url('../../../icons/privilege/p3.png');
            }
            &.p4{
                background-image: url('../../../icons/privilege/p4.png');
            }
            &.p5{
                background-image: url('../../../icons/privilege/p5.png');
            }
            p{
                font-size: .22rem;
                margin: 0 20% .24rem;
            }
        }
    }

    @include e(result) {
        position: fixed;
        z-index: 998;
        width: 100vw;
        height: 100vh;
        text-align: center;
        top: 0;
        font-size: 0.22rem;
        .mask {
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(#000, 0.6);
        }
    
        .wrapper {
            width: 6.42rem;
            height: 5.2rem;
            // max-height: 95vh;
            // border-radius: 0.2rem;
            // background: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            // position: absolute;
            // top: 0;
            // width: 100vw;
            // height: 100vh;
    
            .panel{
                position: relative;
                width: 6.42rem;
                height: 5.2rem;
                max-height: 95vh;
                border-radius: 0.2rem;
                background: #fff;
                border: 0.5px solid transparent;
                .title{
                    font-size: 0.32rem;
                    color: #333;
                    text-align: center;
                    width: 100%;
                    margin-top: 0.6rem;
                }
                .tip-box{
                    width: 85%;
                    margin-top: 0.4rem;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 0.2rem;
                    color: #333;
                }
                .check-status-box{
                    width: 85%;
                    margin-top: 0.4rem;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 0.2rem;
                    color: #333;
                    .bg-box{
                        .seconds{
                            font-size: 0.4rem;
                        }
                    }
                }
                .no-update{
                    margin-top: 0.6rem;
                }
                .btn-box{
                    bottom: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    margin-bottom: 0.2rem;
                    .type-btn{
                        // width: 5.88rem;
                        width: 80%;
                        height: 0.8rem;
                        background: linear-gradient(to bottom,$primary,$primary-light-4);
                        border-radius: 0.2rem;
                        color: #fff;
                        line-height: 0.8rem;
                        margin: 0.12rem 0;
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 0.28rem;
                        &.repay{
                            background: #fff;
                            color: #2792ff;
                            border: 1px solid #2792ff;
                        }
                    }
                }
            }
            
            .close-btn{
                width: 0.74rem;
                height: 0.74rem;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0.8rem;
                background: url('../../../assets/images/close-btn.svg') center center/100% auto no-repeat;
            }
        }
    }
}
