.myaccount-account-menu{
    background: url('../../../assets/images/lightmvPersonBg.png') top center no-repeat;
    background-size: contain;
    .header{
        
        height: 232px;
        background-size: cover;
        background-position: 0 -26px;
        padding-top: 32px;
        position: relative;
        .back{
            position: absolute;
            width: 16px;
            height: 16px;
            background: url('../../../icons/left-arrow.png') left center no-repeat;
            top: 18px;
            left: 15px;
            background-size: contain;
        }
        .avatar-container{
            width: 100px;
            height: 100px;
            position: relative;
            margin: 0 auto;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 3px solid rgba(255, 255, 255, 0.5);
            }
            .default-avatar{
                width: 64px;
                height: 64px;
                border-radius: 32px;
                margin: 0 auto;
                background: url('../../../icons/default-portrait.svg') center no-repeat;
                background-size: contain;
            }
            .crown{
                width: 26px;
                height: 24px;
                background: url('../../../icons/crownWhite.svg') center no-repeat;
                position: absolute;
                top: -12px;
                left: 52px;
            }
        }

        .nickname{
            color: white;
            font-size: 17px;
            color: #333333;
        }
        .vip{
            color: #6B5600;
            font-size: 14px;
            line-height:20px;
            display: flex;
            justify-content:center;
            span{
                padding-left: 27px;
                background: url('../../../assets/lightmv-icons/vipIcon.png') left center no-repeat;
                background-size: contain;
            }
        }
        .privileges{
            color: #F0C267;
            font-size: 14px;
            line-height: 76px;
            height: 76px;
            text-align: center;
            margin: 0 16px;
            background: url('../../../assets/images/vipAdBg.png') center no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
    .mobile-list-items{
        .mobile-list-items__item{
            padding-left: 49px;
            >span{
                display: block;
                width: 20px;
                height: 100%;
                float: right;
                padding-right: 16px;
                background: url('../../../icons/listGrayArrow.svg') center no-repeat;
            }
            &.item-1{
                background: url('../../../assets/lightmv-icons/userInfo.png') 18px center no-repeat;
            }
            &.item-2{
                background: url('../../../assets/lightmv-icons/userCart.png') 18px center no-repeat;
            }
            &.item-3{
                background: url('../../../assets/lightmv-icons/myOrder.png') 18px center no-repeat;
            }
            &.item-4{
                background: url('../../../assets/lightmv-icons/changeCode.png') 18px center no-repeat;
            }
            &.item-5{
                background: url('../../../assets/lightmv-icons/userInfo.png') 18px center no-repeat;
            }
            &.item-6{
                background: url('../../../assets/lightmv-icons/accountDetails.png') 18px center no-repeat;
            }
        }
    }
}
