.myaccount-find-password{
    .container{
        .switch{
            font-size: 15px;
            color: $primary;
            margin: 0;
        }
        .tip{
            font-size: 15px;
            text-align: center;
            line-height: 27px;
            color: #333333;
            margin: 0;
        }
        .sendTo{
            font-size: 15px;
            text-align: center;
            line-height: 27px;
            color: #666666;
            margin: 0;
        }
        .input-group{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            input{
                text-align: center;
                border: none;
                outline: none;
                width: 60px;
                font-size: 50px;
                margin-top: 30px;
                border-bottom: 2px solid #666666;
            }
        }
        .resend{
            margin-top: 51px;
        }
    }
}
