.myaccount-unlimited-vip{
    .myaccount-unlimited-vip__vip-header{
        height: 268px;
        background: url('../../../assets/images/unlimitedVipPageBg.png') center no-repeat;
        padding-top: 33px;
        background-size: cover;
        .title{
            color: #F0C267;
            font-size: 15px;
            line-height: 18px;
            margin: 0;
            text-align: center;
        }
        .avatar{
            width: 76px;
            height: 76px;
            margin: 32px auto 16px;
            position: relative;
            img{
                width: 64px;
                height: 64px;
                border-radius: 32px;
                border: 3px solid #F0C267;
            }
            .default-avatar{
                width: 64px;
                height: 64px;
                border-radius: 32px;
                margin: 0 auto;
                background: url('../../../icons/default-portrait.svg') center no-repeat;
                background-size: contain;
            }
            span{
                display: inline-block;
                width: 24px;
                height: 21px;
                position: absolute;
                background: url('../../../icons/crownGold.svg') center no-repeat;
                left: 50%;
                top: -18px;
                margin-left: -12px;
            }
        }
        .validity{
            color: #F0C267;
            font-size: 11px;
            line-height: 13px;
        }
    }
    .myaccount-unlimited-vip__no-vip-header{
        background: url('../../../assets/images/vipPageBg.png') center no-repeat;
        height: 138px;
        background-size: cover;
        padding-top: 17px;
        p{
            margin: 0;
            padding-top: 37px;
            color: #F0C267;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            background: url('../../../icons/crownGold.svg') top center no-repeat;
        }
    }
    .myaccount-unlimited-vip__privilege, .myaccount-unlimited-vip__rights{
        padding: 27px 16px;
        background: #f5f5f5 url('../../../assets/images/vipTitleBg.png') top center no-repeat;
        background-size: contain;
        >h2{
            padding-top: 38px;
            background: transparent url('../../../icons/vipTitleIcon.svg') top center no-repeat;
            font-size: 17px;
            color: #A27537;
            line-height: 20px;
            margin-bottom: 16px;
        }
        >p{
            font-size: 15px;
            line-height: 21px;
            color: #A27537;
            padding: 25px 24px 25px 57px;
            background: white url('../../../icons/crownGold.svg') 16px center no-repeat;
            border: 2px solid;
            box-shadow:0px 5px 20px 0px rgba(153,153,153,0.2);
            text-align: left;
            border-radius: 8px;
            // border-image:linear-gradient(270deg, rgba(233,185,90,1), rgba(169,121,47,1), rgba(210,162,75,1), rgba(166,118,45,1), rgba(205,157,71,1)) 2 2;
            a{
                color: #A27537;
                padding-left: 10px;
            }
        }
    }
    .myaccount-unlimited-vip__buy-link{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        font-weight: bold;
        .left{
            flex: 0.5;
            color: #FF6666;
            border: 1px solid #FF6666;
            background-color: white;
            >p{
                margin: 0;
                line-height: 60px;
            }
        }
        .right{
            flex: 0.5;
            background: #FF6666;
            color: white;
            >p{
                margin: 0;
                line-height: 60px;
            }
        }
    }
}
