
.myfile-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .myfile-panel{
        width: 100%;
        padding-top: 0.98rem;
    }
    .search-bar{
        display: none;
        position: relative;
        width: 6.26rem;
        height: 0.8rem;
        margin-top: 0.3rem;
        margin-left: auto;
        margin-right: auto;
        .search-btn{
            position: absolute;
            right: 0;
            top: 0;
            width: 0.34rem;
            height: 0.34rem;
            background: url(../../../assets/images/index/my-file/search.svg) center center/100% auto no-repeat;
            margin-right: 0.2rem;
            margin-top: 0.23rem;
        }
    }
    .search{
        position: relative;
        width: 6.26rem;
        height: 0.8rem;
        background: #fff;
        border-radius: 0.2rem;
        @include filter(drop-shadow(0px 0px 5px rgba(#000,0.10)));
        color: #999;
        outline:none;
        border: none;
        font-size: 0.28rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .my-file-list{
        width: 100%;
        height: calc(100vh - 2.4rem);
        overflow-y: scroll;
        overflow-x: hidden;
        // border-bottom: 1px solid #ff00ff;
    }
    // input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    //     color: #000;
    // }
    // input:-moz-placeholder, textarea:-moz-placeholder { 
    //     color: #000;
    // }
    // input::-moz-placeholder, textarea::-moz-placeholder { 
    //     color: #000;
    // }
    // input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    //     color: #000;
    // }

}
.del-file-bar{
    position: fixed;
    width: 100%;
    height: 0.8rem;
    bottom: 0;
    .manager-btn{
        width: 100%;
        height: 0.8rem;
        background: linear-gradient(to left,#1e5ff3,#6594ff);
        color: #fff;
        line-height: 0.8rem;
    }
    .del-box{
        width: 100%;
        height: 0.8rem;
        position: relative;
        line-height: 0.8rem;
        .select-all{
            background: #fff;
            color: #1e5ff3;
            text-align: center;
            font-size: 0.28rem;
            height: 100%;
            width:50%;
            float: left;
        }
        .del-btn{
            width: 50%;
            height: 100%;
            background: #1e5ff3;
            color: #fff;
            font-size: 0.28rem;
            text-align: center;
            float: left;
        }

    }
}
.download-panel{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .mask{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.2;

    }
    .download-box{
        position: absolute;
        width: 5.6rem;
        height: 4.7rem;
        background: #fff;
        border-radius: 0.2rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        .file-list{
            // width: 4.7rem;
            width: 100%;
            height: 2.85rem;
            overflow-y: auto;
            overflow-x: hidden;
            // background: #ff00ff;
            padding-left: 0.35rem;
            padding-right: 0.35rem;
            margin-top: 0.4rem;
            .file-item{
                height: 0.6rem;
                width: 100%;
                line-height: 0.6rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .file-name{
                    width: 4.3rem;
                    float: left;
                    text-align: left;
                    overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    p{
                        display: inline-block;
                    }
                    .short-name{
                        // max-width: 3.8rem;
                        max-width: 80%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .ext{
                        width: 20%;
                        overflow: hidden;
                        // text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        .btn-box{
            width: 100%;
            height: 0.8rem;
            border-top: 1px solid #e2e2e2;
            position: absolute;
            bottom: 0;
            line-height: 0.8rem;
            text-align: center;
            font-size: 0.28rem;
            .sure{
                width: 50%;
                height: 100%;
                border-bottom-left-radius: 0.2rem;
                background: #1e5ff3;
                color: #fff;
                float: left;
            }
            .cancel{
                width: 50%;
                height: 100%;
                border-bottom-right-radius: 0.2rem;
                background: #fff;
                color: #1e5ff3; 
                float: left;
            }
        }
    }
    .check-box{
        position: relative;
        width: 0.36rem;
        height: 0.36rem;
        border-radius: 100%;
        background: #fff;
        border: 0.02rem solid #999;
        margin-top: 0.12rem;
        float: left;
        .select-gou{
            display: none;
            background: url(../../../assets/images/index/add-file/gou.svg) center center/100% auto no-repeat;
            position: absolute;
            top: 0.05rem;
            left: 0;
            right: 0;
            width: 0.18rem;
            height: 0.18rem;
            margin-right: auto;
            margin-left: auto;
        }
        &.select{
            background: #3f7aff;
            border: 0.02rem solid #3f7aff;
            .select-gou{
                display: block;
            }
        }
    }
}

.download-bar{
    position: fixed;
    background: #fff;
    width: 100%;
    height: 0.8rem;
    bottom: 0.8rem;
    line-height: 0.8rem;
    text-align: left;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    p{
        display: inline-block;
        overflow: hidden;
        // font-size: 0.1rem;
    }
    .total{
        min-width: 8vw;
        text-align: center;
    }
    .file-name{
        max-width: 65vw;
        min-width: 50vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .progress{
        width: 12vw;
        // display: none;
        // min-width: 50vw;
    }
    .open-btn{
        display: inline-block;
        max-width: 23vw;
        min-width: 20vw;
        // font-size: 0.15rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #fff;
        background: linear-gradient(to left,#1e5ff3,#6594ff);
        height: 0.6rem;
        line-height: 0.6rem;
        padding-left: 0.05rem;
        padding-right: 0.05rem;
        border-radius: 0.05rem;
        margin-bottom: 0.1rem;
        text-align: center;
    }
}