
.pay-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .panel-one{
        padding-top: 0.98rem;
        .buy-panel{
            width: 100%;
            padding-left: 0.65rem;
            padding-right: 0.65rem;
            margin-bottom: 0.2rem;
            .plan-box{
                width: 100%;
                border-top: 1px dashed #ededed;
                .plan{
                    width: 100%;
                    height: 1.2rem;
                    border: 3px solid #c2c2c2;
                    border-radius: 0.2rem;
                    padding: 0 0.4rem;
                    margin-top: 0.3rem;
                    // margin-bottom: 0.15rem;
                    .img{
                        width: 0.42rem;
                        height: 100%;
                        float: left;
                        background: url(../../../assets/images/index/pay/green-diamond.png) center center/100% auto no-repeat;
                    }
                    .des-box{
                        width: 3rem;
                        height: 0.8rem;
                        text-align: left;
                        float: left;
                        margin-top: 0.1rem;
                        padding-left: 0.2rem;
                        .plan-name{
                            width: 100%;
                            color: #333;
                            font-size: 0.28rem;
                            height: 0.5rem;
                            line-height: 0.5rem;
                            position: relative;
                        }
                        .plan-des{
                            width: 100%;
                            color: #999;
                            font-size: 0.22rem;
                            height: 0.3rem;
                            line-height: 0.3rem;
                        }
                    }
                    .plan-price{
                        float: right;
                        height: 100%;
                        line-height: 1.2rem;
                        color: #2ac164; 
                    }
                    .tuijian{
                        display: inline;
                        position: absolute;
                        top: -0.03rem;
                        .triangle-left {
                            width: 0;
                            height: 0;
                            border-top: 0.08rem solid transparent;
                            border-right: 0.08rem solid #ff5e52;
                            border-bottom: 0.08rem solid transparent;
                            position: relative;
                            top: 0.08rem;
                            float: left;
                        }
                        .tuijian-txt{
                            height: 0.4rem;
                            line-height: 0.4rem;
                            font-size: 0.14rem;
                            color: #fff;
                            background: #ff5e52;
                            border-radius: 0.04rem;
                            padding-left: 0.04rem;
                            padding-right: 0.04rem;
                            float: left;
                        }
                    }

                    &.month{
                        &.active{
                            border: 3px solid #2ac164; 
                        }
                        .img{
                            background: url(../../../assets/images/index/pay/green-diamond.png) center center/100% auto no-repeat;
                        }
                        .plan-price{
                            color: #2ac164; 
                        }
                    }
                    &.year{
                        &.active{
                            border: 3px solid #ffab03; 
                        }
                        .img{
                            background: url(../../../assets/images/index/pay/yellow-diamond.png) center center/100% auto no-repeat;
                        }
                        .plan-price{
                            color: #ffab03; 
                        }
                    }
                    &.life{
                        &.active{
                            border: 3px solid #2792ff; 
                        }
                        .img{
                            background: url(../../../assets/images/index/pay/blue-diamond.png) center center/100% auto no-repeat;
                        }
                        .plan-price{
                            color: #2792ff; 
                        }
                    }
                }
            }
        }
        .pay-btns{
            width: 5.88rem;
            margin: 0 auto;
            // height: 0.8rem;
            line-height: 0.8rem;
            font-size: 0.28rem;
            .add-to-cart{
                width: 100%;
                height: 0.8rem;
                background: #ff5e52;
                border-radius: 0.2rem;
                color: #fff;
                margin: 0.12rem 0;
            }
            .pay-with-paypal{
                width: 100%;
                height: 0.8rem;
                background: #ff9036; 
                border-radius: 0.2rem;
                color: #333;
                margin: 0.12rem 0;
                display: inline-block;
                vertical-align: middle;
                &:after{
                    content: '';
                    position: relative;
                    display: inline-block;
                    width: 1rem;
                    height: 0.8rem;
                    margin-left: 0.1rem;
                    background: url(../../../assets/images/index/pay/paypal.svg) center center/100% auto no-repeat;
                    vertical-align: middle;
                }
            }
        }
        .pay-des{
            width: 100%;
            text-align: center;
            color: #333;
            padding-left: 0.65rem;
            padding-right: 0.65rem;
            font-size: 0.24rem;
        }
        .vip-des{
            width: 100%;
            text-align: center;
            color: #4285f4;
            padding-left: 0.65rem;
            padding-right: 0.65rem;
            font-size: 0.28rem;
            margin-top: 0.2rem;
        }
    }
    .panel-two{
        width: 100%;
        &.add-header{
            padding-top: 0.98rem;
        }
        .des-panel{
            width: 100%;
            padding-left: 0.65rem;
            padding-right: 0.65rem;
            .privilege-box{
                .des-title{
                    height: 0.8rem;
                    line-height: 0.8rem;
                    font-size: 0.32rem;
                    width: 100%;
                    text-align: left;
                    border-bottom: 1px dashed #ededed;
                    margin-top: 0.2rem;
                    margin-bottom: 0.2rem;
                }
                .privilege-list{
                    border-top: 0.1px solid transparent;
                    padding-top: 0.3rem;
                    .privilege-item{
                        clear: both;
                        margin-top: 0.3rem;
                        margin-bottom: 0.3rem;
                        width: 100%;
                        overflow: hidden;
                        height: 1rem;
                        border: 0.1px solid transparent;
                        .img{
                            width: 1rem;
                            height: 1rem;
                            border-radius: 100%;
                            background: #f2f6fe url(../../../assets/images/index/pay/pen.png) center center/0.55rem auto no-repeat;
                            float: left;
                            &.free-use{
                                background: #f2f6fe url(../../../assets/images/index/pay/pen.png) center center/0.55rem auto no-repeat;
                            }
                            &.custom-service{
                                background: #f2f6fe url(../../../assets/images/index/pay/custom-service.svg) center bottom/0.50rem auto no-repeat;
                            }
                            &.free-upgrade{
                                background: #f2f6fe url(../../../assets/images/index/pay/zan.png) center center/0.52rem auto no-repeat;
                            }
                        }
                        .privilege-des{
                            text-align: left;
                            float: left;
                            line-height: 1rem;
                            font-size: 0.24rem;
                            padding-left: 0.3rem;
                        }
                    }
                }
            }
            .secure-box{
                .des-title{
                    height: 0.8rem;
                    line-height: 0.8rem;
                    font-size: 0.32rem;
                    width: 100%;
                    text-align: left;
                    border-bottom: 1px dashed #ededed;
                    margin-top: 0.2rem;
                    margin-bottom: 0.2rem; 
                }
                .secure-list{
                    border-top: 0.1px solid transparent;
                    padding-top: 0.3rem;
                    .secure-item{
                        clear: both;
                        margin-top: 0.3rem;
                        margin-bottom: 0.3rem;
                        width: 100%;
                        overflow: hidden;
                        // height: 1rem;
                        border: 0.1px solid transparent;
                        .title-box{
                            .img{
                                width: 1rem;
                                height: 1rem;
                                border-radius: 100%;
                                background: url(../../../assets/images/index/pay/money-back.svg) center center/100% auto no-repeat;
                                float: left;
                                &.money-back{
                                    background: url(../../../assets/images/index/pay/money-back.svg) center center/100% auto no-repeat;
                                }
                                &.safety{
                                    background: url(../../../assets/images/index/pay/safety.svg) center bottom/100% auto no-repeat;
                                }
                            }
                            .secure-des{
                                text-align: left;
                                float: left;
                                line-height: 1rem;
                                font-size: 0.28rem;
                                padding-left: 0.3rem;
                                color: #333;
                            }
                        }
                        
                        .detail{
                            text-align: left;
                            clear: both;
                            line-height: 0.43rem;
                            font-size: 0.24rem;
                            padding-left: 0.3rem;
                            color: #666;
                        }
                    }
                }
            }

        }
        .pay-btns{
            width: 100%;
            height: 0.8rem;
            line-height: 0.8rem;
            border-top: 1px solid #e2e2e2;
            .month-btn{
                width: 50%;
                height: 100%;
                color: #2792ff;
                background: #fff;
                float: left;
            }
            .year-btn{
                position: relative;
                width: 50%;
                height: 0.8rem;
                color: #fff;
                background: #2792ff;
                float: left;
            }
            .tuijian{
                display: inline;
                position: absolute;
                top: 0.03rem;
                .triangle-left {
                    width: 0;
                    height: 0;
                    border-top: 0.08rem solid transparent;
                    border-right: 0.08rem solid #ff5e52;
                    border-bottom: 0.08rem solid transparent;
                    position: relative;
                    top: 0.08rem;
                    float: left;
                }
                .tuijian-txt{
                    height: 0.4rem;
                    line-height: 0.4rem;
                    font-size: 0.14rem;
                    color: #fff;
                    background: #ff5e52;
                    border-radius: 0.04rem;
                    padding-left: 0.04rem;
                    padding-right: 0.04rem;
                    float: left;
                }
            } 
        }
    }
}
.user-info{
    height: 2.32rem;
    width: 100%;
    padding-left: 0.65rem;
    padding-top: 0.49rem;
    .avatar{
        width: 1.35rem;
        height: 1.35rem;
        border-radius: 100%;
        float: left;
        background: #edecf1;
        overflow: hidden;
        img{
            overflow: hidden;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .user-name{
        width: 4.65rem;
        float: left;
        color: #333;
        font-size: 0.34rem;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 0.4rem;
        padding-left: 0.2rem;
    }
}