@import "variables.scss";

.pdf-header{
	width:100%;
	height: 0.98rem;
	position: fixed;
	top: 0;
	background: #3f7aff;
	z-index: 1;
	transform: translateZ(0);
	&.isios{
		height: 1.18rem;
		padding-top: 0.2rem;
		.back-bar{
			height: 0.98rem;
			margin-top: 0;
			margin-bottom: 0;
			bottom: 0;
			margin-top: 0.2rem;
		}
		transform: none;
	}
	.header-title{
		font-size: 0.32rem;
		height: 100%;
		line-height: 0.98rem;
		text-align: center;
		color: #fff;
	}
	.back-bar{
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0.35rem;
        width: 0.25rem;
        height: 0.25rem;
        background: url(../../../assets/images/header/arrow.svg) center center/0.25rem 100% no-repeat;

	}
}