@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(window-header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    padding: $header-padding;
    color: $header-text-color;
    background-color: $header-bg-color;
    line-height: $header-height;
    font-size: $header-text-font-size;
    border-bottom: $header-border-bottom;

    @include e(left) {
        display: flex;
        align-items: center;
        .logo{
            display: inline-block;
            width: 19px;
            height: 16px;
            margin-right: 7px;
            background: url('../../../assets/img/rec-logo.svg') center no-repeat;
        }
    }

    @include e(right) {
        display: inline-block;
        .close{
            display: inline-block;
            width: 12px;
            height: 12px;
            background: url('../../../assets/img/close.svg') center no-repeat;
        }
    }
}