.faq-container{
    padding: 0;
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            h2{
                font-size: 16px;
                text-align: left;
                font-weight: normal;
                border-bottom: 1px solid #eee;
                margin: 0;
                padding: 15px 10px;
            }
            .content{
                text-align: left;
                font-size: 14px;
                display: block;
                border-bottom: 1px solid #eee;
                background: #f5f6fa;
                display: none;
                opacity: 0;
                transition: "opacity";
                transition-duration: 1s;
                .image-wrapper{
                    margin: 20px 0;
                    img{
                        width: 100%
                    }
                }
                &.show{
                    display: block;
                    opacity: 1;
                }
                p{
                    margin: 0;
                    line-height: 20px;
                    padding: 10px;
                }
                ul{
                    padding-left: 20px;
                    li{
                        padding-left: 10px;
                        line-height: 20px;
                        list-style-type: disc;
                        list-style-position: inside;
                    }
                }
            }
        }
    }
}
