.myaccount-invoice{
    font-size: 14px;
    .myaccount-orders__no-data{
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            span{
                color: #478afb;
            }
        }
    }
    .myaccount-orders__invoice-list{
        padding: 0 10px;
        .invoice{
            margin: 20px 0;
            border-bottom: 1px solid #ddd;
            .row{
                width: 100%;
                margin: 10px 0;
                text-align: left;
                >span{
                    display: inline-block;
                }
                span:first-child{
                    width: 30%;
                    text-align: right;
                }
                .link{
                    color: #478afb;
                    margin-left: 20px;
                }
            }
        }
    }
}